!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/ie.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/jquery.gritter.css')
    script(src='/javascripts/foundation.js')
    script(src='/javascripts/fabric.js')
    script(src='/javascripts/jquery.gritter.min.js')
    script(src='/javascripts/app.js')
  body!= body